.body_background{
    background-color: rgb(240, 226, 240);
}
/* body */
.main-container{

}
.main-contents {

}
.main-list {
    
}
.sub-contents {

}
.sub-list {

}

.index_content01{

}
.index_content01_over{
    
}
.index_content01_over_box{
    text-align: center;
    background: #c0c0c0;
}
.company_sample_color{

}
.recruit_sample_color{
    background: #ddd;
}
#staff_link{
    width: 100%;
    background: #f5deb3;
}
/* news */
.news_box{
    display: flex;
    margin: 2%;
    padding: 2%;
    background-color: rgb(222, 209, 231);
}
.news_box_title{
    text-align: center;
}
.news__tab__list {
    font-size: 20px;
    display: flex;
    align-items: flex-start;
    width: 80%;
    margin: 3px auto 3%;
    border-bottom: 3px solid rgba(48, 41, 41, 0.1);
}
.news_list{
    width: 70%;
    margin: 0 auto;
    background: #eae3e7;
}
.news_list_content{
    margin: 2% 10%;
}
.news_list_content_day{

}
.news__more{
    padding-left: 80%;
}


/* footer */
.footer_logo{
    text-align: right;
    margin: 2%;
    padding-top: 10px;
}

@media screen and (min-width: 768px){
    .index_content01{

}
    .index_content01_over{
        display: flex;
        flex-wrap: wrap;
    }
    .index_content01_over_box{
        width: 50%;
        padding: 80px 0;
    }

}

@media screen and (max-width: 767px){
    .index_content01{

    }
    .index_content01_over{

    }
    .index_content01_over_box{

    }
    .index_content01_over_box{
        padding: 12vw 0;
    }

    .news_list_content_day{
        display:none;
    }
    .news__more{
        padding-left:42%;
    }
}

