/* body */
.main-container{
    
}
_spacing.scss:11
}
.main-contents {

}
.main-list {
    
}
.sub-contents {

}
.sub-list {

}

.index_content01{

}
.index_content01_over{
    
}
.index_content01_over_box{
    text-align: center;
}
.company_sample_color{
    background: #c0c0c0;
}
.recruit_sample_color{
    background: #ddd;
}
#staff_link{
    width: 100%;
    background: #f5deb3;
}
/* news */
.news_box{
    display:flex;
}
.news_box h2{
    padding:5% 0 ;
}
.news_box_title{
    text-align: center;
    background:#FFEEFF;
}
.news_list{
    width: 60%;
    margin: 0 auto;
}
.news_list_content{
    padding: 0.5%;
}
.news_list_content_day{
    padding: 12px;
}
.sns-info{
    background:#F8F8FF;
}
.sns-info_title{
    text-align:center;
    margin:5% 3%;
    background:#D9E5FF;
}



/* footer */
.footer-conteiner{
    text-align: right;
}

@media screen and (min-width: 768px){
    .index_content01{

    }
    .index_content01_over{
        display: flex;
        flex-wrap: wrap;
    }
    .index_content01_over_box{
        width: 50%;
        padding: 80px 0;
    }
    .sns-info{
        width:40%;
        margin:0 auto;
        
    }

}

@media screen and (max-width: 767px){
    .index_content01{

    }
    .index_content01_over{

    }
    .index_content01_over_box{

    }
    .index_content01_over_box{
        padding: 12vw 0;
    }

    
}

